<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="../javascript/home.js"></script>

</head>

<body>
    <div class="float-chat" id="chat-button">
        <a href="/showchat"><i class='bx bx-chat' style='color:#fffcfc'></i></a>
        <div class="chat-notif" id="chat-notif"></div> <!-- จุดแดงแจ้งเตือน -->
    </div>
    
    <div id="float-chat-user" class="float-chat-user">
        <div class="top">
            <div class="infoooo">
                <div class="info">
                    <% if (userAvatar) { %>
                        <img src="data:image/png;base64,<%= userAvatar %>" alt="Your Avatar" style="width: 60px; height: 60px; border-radius: 50%;">
                    <% } else { %>
                        <img style="width: 50px; height: 50px; border-radius: 50%;" src="../IMG/Untitled.png">
                    <% } %>
                </div>
                <span>Friend 1</span>
            </div>
            <div class="exit">
                <i class='bx bx-x' onclick="closechat()"></i>
            </div>
            
        </div>
        <div class="chat-text">

        </div>
        <div class="bottom">
            <div class="split">
                <a href=""><i class='bx bxs-photo-album'></i></a>
                <a href=""><i class='bx bxs-location-plus'></i></a>
                <a href=""><i class='bx bxs-file-gif'></i></a>
            </div>
            <div class="send-text">
                <input type="text">
                <i class='bx bx-send'></i>
            </div>
        </div>
    </div>

    <div id="pop-up-post" class="post-popup">
        <div id="postdisplayed" class="pop-up">
            <form id="usrp" class="user_post_form" action="/user/create_post" method="post" enctype="multipart/form-data">
                <div class="user_profile_">
                    <div class="left">
                        <% if (userAvatar) { %>
                            <img src="data:image/png;base64,<%= userAvatar %>" alt="Your Avatar" style="width: 60px; height: 60px; border-radius: 50%;">
                        <% } else { %>
                            <img style="width: 50px; height: 50px; border-radius: 50%;" src="../IMG/Untitled.png">
                        <% } %>
                        <a href=""><%= username %></a>
                    </div>

                    <div class="right">
                        <i class='bx bx-x' onclick="close_pop_up()"></i>
                    </div>

                </div>
                <div class="post_">
                    <textarea name="capion" id="" placeholder="Create your event"></textarea>
                </div>
                <div class="add_more">
                    <div class="icons">
                        <label for="image"><i class='bx bxs-photo-album'></i></label>
                        <input type="file" id="image" name="image" accept="image/*" required>
                        <!-- <a href=""><i class='bx bxs-photo-album'></i></a> -->
                        <!-- <a href=""><i class='bx bxs-location-plus'></i></a>
                        <a href=""><i class='bx bxs-file-gif'></i></a> -->
                        
                    </div>
                    <div class="post">
                        <button type="submit" onclick="close_pop_up()">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="nav">
        <div class="left">
            <a href="">
                <a href="#"><img style="width: 40px;" src="../IMG/Logo2.png"></a>
            </a>
            <input type="text" placeholder="search">
            <i class='bx bx-search'></i>
        </div>
        <div class="right">
            <a href="#"><i class='bx bx-home' style='color:#fffcfc'></i></a>
            <!-- <i class='bx bx-bell' style='color:#fffcfc'></i> -->
            <!-- <a href="/showchat"><i id="chat" class='bx bx-chat' style='color:#fffcfc'></i></a> -->
            <a href="/profile"><% if (userAvatar) { %>
                <img src="data:image/png;base64,<%= userAvatar %>" alt="Your Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
            <% } else { %>
                <img style="width: 50px; height: 50px; border-radius: 50%;" src="../IMG/Untitled.png">
            <% } %>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="sidebar">
            <a href=""><img src="../IMG/ball-of-basketball.png">Basketball</a>
            <a href=""><img src="../IMG/runer-silhouette-running-fast.png"> Run</a>
            <a href=""><img src="../IMG/football.png">Football</a>
            <a href=""><img src="../IMG/game.png">Futsal</a>
            <a href=""><img src="../IMG/badminton.png">Badminton</a>
            <a href=""><img src="../IMG/volleyball.png">Volleyball</a>
            <a href=""><img src="../IMG/sport.png">Thai Boxing</a>
        </div>
        <div class="all_post">
            <div class="post">
                <% if (userAvatar) { %>
                    <img src="data:image/png;base64,<%= userAvatar %>" alt="Your Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
                <% } else { %>
                    <img style="width: 50px; height: 50px; border-radius: 50%;" src="../IMG/Untitled.png">
                <% } %>
                <div class="create">
                    <a class="postbutton" id="postbutton">Create your event</a>
                    <div class="add">
                        <a href=""><i class='bx bxs-photo-album'></i></a>
                        <a href=""><i class='bx bxs-location-plus'></i></a>
                        <a href=""><i class='bx bxs-file-gif'></i></a>
                    </div>
                </div>

            </div>
            
            <div class="all-post">
                <% if (posts && posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="user_post">
                            <div class="posts">
                                <div class="pros">
                                    <% if (post.avatar) { %>
                                        <img src="data:image/png;base64,<%= post.avatar %>" 
                                             alt="User Avatar" 
                                             style="width: 50px; height: 50px; border-radius: 50%;">
                                    <% } else { %>
                                        <img style="width: 50px;" src="../IMG/Untitled.png">
                                    <% } %>
                                    
                                    <% if (username !== post.ownerName) { %>
                                        <!-- กรณีที่ไม่ใช่เจ้าของโพสต์ -->
                                        <p><a href="/profile/<%= post.ownerName %>"><%= post.ownerName %></a></p>
                                    <% } else { %>
                                        <!-- กรณีที่เป็นเจ้าของโพสต์ -->
                                        <p><a href="/profile"><%= post.ownerName %></a></p>
                                    <% } %>

                                </div>
                                <div>
                                    <a href="#"><i class='bx bx-dots-vertical-rounded'></i></a>
                                </div>
                            </div>
            
                            <div class="title">
                                <p><%= post.capion %></p> 
                                <p><%= post.time %></p>
                            </div>
                            <div class="badmi">
                                <% if (post.img) { %>
                                    <img src="data:image/jpeg;base64,<%= post.img %>" 
                                         alt="รูปภาพโพสต์" 
                                         style="width: 100%; border-radius: 10px;">
                                <% } %>
                            </div>
                            <div class="icon">
                                <a class="interes" href=""><i class='bx bxs-heart'></i> Interested</a>
                                <a href=""><i class='bx bxs-comment-detail'></i> Comment</a>
            
                                <form class="join-form" id="joinForm-<%= post.postID %>" action="/join" method="POST">
                                    <input type="hidden" name="postID" value="<%= post.postID %>">
                                    <input type="hidden" name="ownerID" value="<%= post.ownerID %>">
                                    <input type="hidden" name="ownerName" value="<%= post.ownerName %>">
                                </form>
                                <a href="#" onclick="document.getElementById('joinForm-<%= post.postID %>').submit(); return false;">
                                    <i class='bx bx-group'></i> Join
                                </a>
            
                                <a href=""><i class='bx bxs-share'></i> Share</a>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>⚠️ ไม่มีโพสต์</p>
                <% } %>
            </div>
            
        </div>
        <div class="tag">
            <p>Interesting activities</p>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># แบดมินตัน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># บาส 4 คน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># วอลเลย์ หญิงล้วน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># หาเพื่อนวิ่ง</a>
            </div>
        </div>
    </div>


</body>

</html>