<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/profile.css">
    <script src="..//javascript/profile.js"></script>
</head>

<body>
    <div class="float-chat" id="chat-button">
        <i class='bx bx-chat' style='color:#fffcfc'></i>
    </div>

    <div class="nav">
        <div class="left">
            <a href="/home"><img style="width: 40px;" src="../IMG/Logo2.png"></a>
            <input type="text" placeholder="search">
            <i class='bx bx-search'></i>
        </div>
        <div class="right">
            <a href="/home"><i class='bx bx-home' style='color:#fffcfc'></i></a>
            <i id="chat" class='bx bx-chat' style='color:#fffcfc'></i>
            <% if (userData.avatar) { %>
                <img src="data:image/png;base64,<%= userData.avatar %>" alt="User Avatar" 
                     style="width: 50px; height: 50px; border-radius: 50%;">
            <% } else { %>
                <img style="width: 150px;" src="../IMG/Untitled.png">
            <% } %>
        </div>
    </div>

    <div class="info">
        <div>
            <% if (userData.avatar) { %>
                <img src="data:image/png;base64,<%= userData.avatar %>" alt="User Avatar" 
                     style="width: 100px; height: 100px; border-radius: 50%;">
            <% } else { %>
                <img style="width: 150px;" src="../IMG/Untitled.png">
            <% } %>
        </div>
        <div class="detail">
            <h1><%= username %></h1><br>
            <p>Gender: <%= userData.gender %>, age <%= userData.age %></p>
            <p>Interested sports: <%= userData.Interested %></p><br>

            <!-- ใช้โค้ดจาก main -->
            <a href="/home">
                <button class="send-mess" type="button">Send message</button>
            </a>
        </div>
    </div>

    <div class="nav_post">
        <a style="font-weight: bold;" href="/atvt">Activity room</a>
        <div class="line"></div>
        <a href="/past_atvt">Past activity room</a>
    </div>

    <div class="postt">
        <div class="all-post">
            <% if (postAt_past && postAt_past.length > 0) { %>
                <% postAt_past.forEach(function(post) { %>
                    <div class="user_post">
                        <div class="posts">
                            <div class="pros">
                                <% if (userData.avatar) { %>
                                    <img src="data:image/png;base64,<%= userData.avatar %>" alt="User Avatar" 
                                         style="width: 50px; height: 50px; border-radius: 50%;">
                                <% } else { %>
                                    <img style="width: 50px;" src="../IMG/Untitled.png">
                                <% } %>
                                <p>โพสต์โดย: <%= post.memberName %></p>
                            </div>
                            <div>
                                <a href="#"><i class='bx bx-dots-vertical-rounded'></i></a>
                            </div>
                        </div>
                        <div class="title">
                            <p><%= post.capion %></p>
                            <p><%= post.time %></p>
                        </div>
                        <div class="badmi">
                            <% if (post.img) { %>
                                <img src="data:image/jpeg;base64,<%= post.img %>" alt="รูปภาพโพสต์">
                            <% } %>
                        </div>
                        <div class="icon">
                            <a href=""><i class='bx bxs-heart'></i>Interested</a>
                            <a href=""><i class='bx bxs-comment-detail'></i>Comment</a>
                            <a href=""><i class='bx bx-group'></i>Join</a>
                            <a href=""><i class='bx bxs-share'></i>Share</a>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                    <p>⚠️ ไม่มีโพสต์</p>
            <% } %>
        </div>
    </div>
</body>

</html>
